# 02차시 데이터 전처리: 사용자 정의 함수 활용

## 01 사용자 정의 함수 개요

### 사용자 정의 함수 특징 및 사용

- 가용한 함수를 조합하여 만든 새로운 함수
- 라이브러리와 유사하게 사전 실행 및 등록 필요

### 사용자 정의 함수 구조
def #함수명(#인자):  
   #실행 코드  
   return #반환값

In [1]:
def plus(x, y):
    result = x + y
    return result

plus(x = 4, y = 5)

9

## 02 사용자 정의 함수 설정 및 주의점

### 들여쓰기

- 제어문과 같이 사용자 정의 함수 또한 def 다음에 오는 실행코드 들여쓰기 필수
- 들여쓰기를 올바르게 하지 않을 경우 에러 발생

### 반환값

- 함수 연산 결과를 별도의 객체에 할당하게 하기 위해서는 반환값 명시 필요
- 반환하고자 하는 값 또는 객체를 "return" 뒤에 명시

### 함수명

- 새로 생성하는 함수는 기존에 사용하던 함수 또는 객체명과 다르게 하는 것을 권장
- 함수 자체의 기능을 대표하는 이름 권장

### 기본값

- 특정 인자에 값 입력 여부에 관계없이 함수가 동작하게 할 때 사용
- 사용자 정의 함수 생성 시 함수명 뒤 소괄호 내부에 지정

In [2]:
import pandas as pd

In [3]:
def udf_sum(x, y):
    result = x + y
    return result

In [5]:
udf_sum(pd.Series([2, 4, 6]), 4)

0     6
1     8
2    10
dtype: int64

In [7]:
def udf_sum2(x, y):
    result = x.sum() + y
    return result

In [8]:
udf_sum2(pd.Series([2, 4, 6]), 4)

16

In [9]:
def udf_mean1(x):
    result = round(x.mean(), 3)
    return result

In [12]:
udf_mean1(pd.Series([4.752, 5.6346, 7.5476]))

5.978

In [13]:
def udf_mean2(x, digit):
    result = round(x.mean(), digit)
    return result

In [14]:
udf_mean2(pd.Series([3.6317, 7.6348, 9.43543]), digit = 2)

6.9

In [16]:
def udf_mean3(x, digit = 2):
    result = round(x.mean(), digit)
    return result

In [18]:
udf_mean3(pd.Series([3.6317, 7.6348, 9.43543]))

6.9

## Q1 입력 객체의 원소를 모두 제곱한 후 그 원소를 더한 다음 제곱근을 취하는 사용자 정의 함수를 만들었을 때 해당 사용자 정의 함수에 [3, 5, 9, 20] 를 입력으로 하는 경우 그 출력 값은?

In [20]:
def square_sum(x):
    result = x ** 2
    result = result.sum() ** 0.5
    return result

x = pd.Series([3, 5, 9, 20])
square_sum(x)

22.693611435820433

In [21]:
## 답안
def udf_euc(x):  # Euclidean Distance
    result = x.pow(2).sum() ** 0.5
    return result

udf_euc(pd.Series([3, 5, 9, 20]))

22.693611435820433

## Q2 표준화(Standardization) 사용자 정의 함수를 만들고 [-4, 5, 7, 9] 를 입력한 경우 여기서 입력한 7은 몇으로 반환되는가?

In [24]:
def nor_std(x):
    result = (x - x.mean()) / x.std()
    return result

In [25]:
x = pd.Series([-4, 5, 7, 9])
nor_std(x)

0   -1.437957
1    0.130723
2    0.479319
3    0.827915
dtype: float64

## Q3 MinMax 정규화 사용자 정의 함수를 만들고 [-4, 5, 7, 9]를 입력한 경우 여기서 입력한 7은 몇으로 반환되는가?

In [29]:
def nor_minmax(x):
    result = (x - x.min()) / (x.max() - x.min())
    return result

In [30]:
x = pd.Series([-4, 5, 7, 9])
nor_minmax(x)

0    0.000000
1    0.692308
2    0.846154
3    1.000000
dtype: float64